<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd
	   					     http://www.springframework.org/schema/context
	   					      http://www.springframework.org/schema/context/spring-context-4.0.xsd
	   					       http://www.springframework.org/schema/jms
	   					        http://www.springframework.org/schema/jms/spring-jms-3.0.xsd
	   					        ">

    <context:annotation-config/>
    <context:component-scan base-package="by.IvkoS.jms"/>

    <import resource="classpath:spring-context-domain.xml"/>

    <bean id="amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL">
            <value>failover://tcp://localhost:61616</value>
        </property>
    </bean>

    <jms:listener-container
            container-type="default"
            connection-factory="amqConnectionFactory"
            acknowledge="auto">
        <jms:listener destination="TEST.CONVERT.EMPLOYER" ref="jmsConvertEmployerReceiver" method="onMessage"/>
        <jms:listener destination="TEST.CONVERT.TREE.BRANCH" ref="jmsConvertTreeBranchReceiver" method="onMessage"/>
    </jms:listener-container>


    <bean id="convertDestinationTreeBranch" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="TEST.CONVERT.TREE.BRANCH"/>
    </bean>

    <bean id="convertDestinationEmployer" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="TEST.CONVERT.EMPLOYER"/>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="amqConnectionFactory"/>
        <property name="defaultDestination" ref="convertDestinationTreeBranch"/>
    </bean>

</beans>